.cabal-sandbox*
cabal.sandbox*
dist/**
.idea**

/.dist-buildwrapper/
twic.db/**
SourceGraph/**


.project
twic.log
twic.cfg
twic.json
oauth-info.txt

backend/.stack-work
frontend/.stack-work
backend/twic.db/**

webexe/*
